/* typeface files */
@font-face {
    font-family: Google Sans Medium;
    src: url(fonts/GoogleSans-Medium.ttf);
}

@font-face {
    font-family: Google Sans Regular;
    src: url(fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: GT Super Book;
    src: url(fonts/GT-Super-Text-Book.otf);
}




:root {
    --title-font: 'Google Sans Regular'; 
    --base-font: 'GT Super Book';

    --font-size: 20px;
    --leading: 140%;

    --font-size: 20px;
    --dark-grey:#0B0B0B;
    --light-grey: #c9c9c9;
    --white: #FFFFFF;
    --blue: #0011ff;
    --light-pink: #ffcfdd;
}


main {
    color: var(--dark-grey);
}


a {
    color: var(--blue);
    /* background-color: var(--light-pink);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em; */
}

h1 {
    font-family: var(--title-font);
    font-size: 80px;
    text-align: center;
    margin-top: 0.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: var(--base-font);

    font-size: calc(1.2* var(--font-size));
    line-height: var(--leading);
    text-align: left;
    margin-top: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: var(--font-size);
}


/* ******************************************************************* */
/* MEDIA QUERIES - TABLETS */
@media (min-width: 600px) {
    p {
        text-align: center;
        font-size: calc(1.8* var(--font-size));
        margin-top: 2em;
        width: 70%;
    }
}

/* ******************************************************************* */
/* MEDIA QUERIES - LAPTOPS and LARGER SCREENS */
@media (min-width: 1150px) {
    h1 {
        font-size: calc(4* var(--font-size));
    }

    p {
        text-align: center;
        font-size: calc(2* var(--font-size));
        margin-top: 2.2em;
        width: 60%;
    }

    footer p {
        font-size: calc(1* var(--font-size));
    }

}